body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    margin: 0;
    /* Added responsive styles */
    width: 100%;
    overflow-x: hidden;
    
}

.container {
    max-width: 90%;
    width: 800px;
    background-color: #343a40;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    /* Added responsive styles */
    
    
    
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
body {
    font-family: 'Arial', sans-serif; /* Changed font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529; /* Dark background */
    color: #fff; /* Light text color */
    margin: 0;
}

#ayah-text {
    font-family: 'Times New Roman', serif; /* Arabic font */
    font-size: 1.2em; /* Increased font size */
    color: #ffffff; /* Dark text color */
}

.container {
    background-color: black; /* Light container */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff; /* Dark text color */
}

.controls {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    color: #ffffff; /* Dark text color */
}

select, button {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid black; /* Gray border */
    cursor: pointer;
    color: #333; /* Dark text color */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#ayah-display, #answer-display {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black; /* Gray border */
    border-radius: 4px;
    background-color: black; /* Light background for ayah display */
}

.hidden {
    display: none;
}
* {
    line-height: 5vh;
}