body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    margin: 0;
}

.container {
    max-width: 800px;
    width: 800px;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#ayah-text {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    color: #ffffff;
    text-align: right;
    direction: rtl;
    line-height: 1.6;
    margin: 20px 0;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.controls {
    margin: 20px 0;
}

label {
    margin-right: 10px;
    color: #ffffff;
}

select, button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    color: #333;
    margin: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#ayah-display, #answer-display {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

#following-ayahs li {
    font-size: 20px;
    text-align: right;
    direction: rtl;
    margin: 10px 0;
}