body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    margin: 0;
    /* Added responsive styles */
    width: 100%;
    overflow-x: hidden;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #343a40;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    /* Added responsive styles */
    
    
    
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
body {
    font-family: 'Arial', sans-serif; /* Changed font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212529; /* Dark background */
    color: #fff; /* Light text color */
    margin: 0;
}

#ayah-text {
    font-family: 'Times New Roman', serif; /* Arabic font */
    font-size: 1.2em; /* Increased font size */
    color: #ffffff; /* Dark text color */
    text-align: right;
    direction: rtl;
    display: block;
    margin: 10px 0;
}

.container {
    background-color: black; /* Light container */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff; /* Dark text color */
}

.controls {
    margin: 20px 0;
}

label {
    margin-right: 10px;
    color: #ffffff; /* Dark text color */
}

select, button {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid black; /* Gray border */
    cursor: pointer;
    color: #333; /* Dark text color */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#ayah-display, #answer-display {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black; /* Light background for ayah display */
}

.hidden {
    display: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

* {
    line-height: 5vh;
}

.controls label, .controls select, .controls input {
    margin: 5px;
}

#following-ayahs {
    text-align: right;
    direction: rtl;
    padding: 10px;
}

.surah-range {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.surah-range > div {
    flex: 1;
}

#single-controls.hidden,
#multi-controls.hidden {
    display: none;
}